# Import libraries

In [60]:
import pandas as pd

# Obtain Data

In [68]:
df = pd.read_csv('auto-mpg.csv')
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

# Scrub Data

In [69]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
 8   car name      398 non-null    object
dtypes: float64(3), int64(4), object(2)
memory usage: 28.1+ KB

In [70]:
df.groupby('horsepower').first().index

Index(['100', '102', '103', '105', '107', '108', '110', '112', '113', '115',
       '116', '120', '122', '125', '129', '130', '132', '133', '135', '137',
       '138', '139', '140', '142', '145', '148', '149', '150', '152', '153',
       '155', '158', '160', '165', '167', '170', '175', '180', '190', '193',
       '198', '200', '208', '210', '215', '220', '225', '230', '46', '48',
       '49', '52', '53', '54', '58', '60', '61', '62', '63', '64', '65', '66',
       '67', '68', '69', '70', '71', '72', '74', '75', '76', '77', '78', '79',
       '80', '81', '82', '83', '84', '85', '86', '87', '88', '89', '90', '91',
       '92', '93', '94', '95', '96', '97', '98', '?'],
      dtype='object', name='horsepower')

In [71]:
hp_list = list(set(df['horsepower']))
hp_list.remove('?')
hp_ints = [int(hp) for hp in hp_list]
hp_mean = round(sum(hp_ints)/len(hp_ints),None)

hp_dict = {'?' : str(hp_mean)}
df['horsepower'].replace(hp_dict, inplace=True)
df['horsepower'] = df['horsepower'].astype(float)

In [72]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    float64
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
 8   car name      398 non-null    object
dtypes: float64(4), int64(4), object(1)
memory usage: 28.1+ KB

# Explore data